<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/fragments/template.html :: head">
</head>
<body>
	<div th:insert="admin/fragments/template.html :: userdetails">
	</div>
	<h1>TrePerDay</h1>
	<ul th:insert="admin/fragments/template.html :: nav"></ul>
	<h2>Performances</h2>
    <table class="table table-striped">
    	<thead>
			<tr>
			    <th>id</th>
			    <th>User</th>
			    <th>Task</th>
			    <th>Performance</th>
			    <th></th>
			</tr>
		</thead>
		<tbody>  
	    	<tr th:each="performance : ${performances}">
	    		<td th:text="${performance.id}"></td>
	    		<td th:text="${performance.user.username}"></td>
	    		<td th:text="${performance.task.description}"></td>
	    		<td th:text="${performance.performanceText}"></td>
	    		<td>
	    			<a class="btn btn-primary" th:href="@{/admin/performance/edit/{id}(id=${performance.id})}" role="button">Edit</a>
	    			<a class="btn btn-danger" th:href="@{/admin/performance/delete/{id}(id=${performance.id})}" role="button">Delete</a>
	    		</td>
	    	</tr>
    	</tbody>
     </table>
     <a class="btn btn-success" th:href="@{/admin/performance/create}" role="button">Add a new category</a>
</body>
</html>