<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="admin/fragments/template.html :: head">
</head>
<body>
	<div th:insert="admin/fragments/template.html :: userdetails">
	</div>
	<h1>TrePerDay</h1>
	<ul th:insert="admin/fragments/template.html :: nav"></ul>
	<h2 th:text="${title}"></h2>
	<form th:object="${user}" th:action="@{/admin/user/save}" action="#" method="post">
		<input type="hidden" id="id" th:field="*{id}" />
		<div class="form-group">
			<label for="lastName">Last name</label>
			<input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="Last name">
		</div>
		<div class="form-group">
			<label for="firstName">First name</label>
			<input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="First name">
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password1">Password</label>
			<input type="password" th:field="*{password}" class="form-control" id="password1" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="role">Role</label>
			<select class="form-control" th:field="*{role}" id="role">
				<option value="API_USER">API user</option>
				<option value="ADMIN">Admin</option>
			</select>
		</div>
		<div class="form-group">
			<label for="avatarIcon">Avatar icon</label>
			<input type="text" th:field="*{avatarIcon}" class="form-control" id="avatarIcon" placeholder="Avatar icon">
		</div>
		<div class="form-group">
			<label for="avatarIcon">Avatar colour</label>
			<input type="text" th:field="*{avatarColour}" class="form-control" id="avatarColour" placeholder="Avatar colour">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>