<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>TrePerDay admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
	<div th:fragment="userdetails" style="float: right; margin: 1em;">
		<p>[[${#httpServletRequest.remoteUser}]]</p>
    	<form th:action="@{/logout}" method="post">
    		<button type="submit" class="btn btn-danger">Log out</button>
    	</form>
	</div>
	<h1>TrePerDay</h1>
	<h2>Users</h2>
	<ul th:fragment="nav">
		<li>
			<a th:href="@{/admin/category}">Categories</a>
		</li>
		<li>
			<a th:href="@{/admin/task}">Tasks</a>
		</li>
		<li>
			<a th:href="@{/admin/performance}">Performances</a>
		</li>
		<li>
			<a th:href="@{/admin/user}">Users</a>
		</li>
	</ul>
</body>
</html>